<section class="py-3 text-center container">
  <div class="row py-lg-5">
    <div class="col-md-9 mx-auto">
      <img class="rounded-circle" style="width: 150px;" src="{{ 'assets/img/michael.jpg' | relative_url }}" alt="Picture of Michael McGovern">
      <h1 class="pt-4">{{ site.title }}</h1>
      <p class="lead text-muted">{{ site.description }}</p>
      <!-- <p>
        <a href="#portfolio" class="btn btn-primary my-2">👇 Check out my portfolio</a>
        <a href="#" class="btn btn-secondary my-2">Learn more about me</a>
      </p> -->
    </div>
  </div>
</section>
