<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}
    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script>
      // https://gist.github.com/Armster15/db063ab0dc5be699ae07a067a7333752
      window.onload = function () {
        twemoji.parse(document.body, { folder: "svg", ext: ".svg" });
      };
    </script>
    <script type="text/javascript">
     var $grid = $('#masonry').masonry({
       itemSelector: '.col',
       percentPosition: true
     });

     // layout Masonry after each image loads
     $grid.imagesLoaded().progress( function() {
       $grid.masonry();
     });
    </script>
  </body>
</html>
